<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>Identificador de especies arbóreas de Costa Rica</h1>
          <p>
            Se utilizará la arquitectura ViT: Vision Transformer
            para la identificación de especies arbóreas de Costa Rica
          </p>
          <p>
            Copyright {{currentYear}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>