<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngIf="serverService.analyzing">
      <p>analyzing...</p>
    </ion-row>
    <ion-row *ngIf="!serverService.serverHealth">
      <p>Error: {{serverService.serverError}}</p>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-Xs="6" size-sm="6" size-Md="3" *ngFor="let image of images">
        <ion-card color="wood" style="padding: 0.5em;">
          <ion-img [src]="image.data" alt="image" style="height: 10em;"></ion-img>

          <ion-card-header style="padding: 0; padding-top: 1em;">
            <ion-card-subtitle>{{image.name}}</ion-card-subtitle>
          </ion-card-header>
          <br>
          <ion-card-content *ngIf="image.details" style="padding: 0; padding-bottom: 1em;">
            <p><strong>Details:</strong>{{image.details.detail}}</p>
            <div *ngIf="serverService.class_names">
              <p *ngFor="let probability of image.details.probability">
                <strong>Name: </strong>{{probability.label}}
                <br>
                <strong>Probability: </strong>{{probability.prob | number: '0.1-4'}}
                <br>
                <br>
              </p>
            </div>
          </ion-card-content>

          <ion-button expand="full" color="cocobolo" (click)="analyze(image)">
            <ion-icon slot="start" name="search-outline"></ion-icon>
            <ion-label>Analyze image</ion-label>
          </ion-button>
          <ion-button expand="full" color="medium" (click)="editImage(image)">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            <ion-label>Edit image</ion-label>
          </ion-button>
          <ion-button expand="full" color="medium" (click)="editDetails(image)">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            <ion-label>Edit details</ion-label>
          </ion-button>
          <ion-button expand="full" color="danger" (click)="deleteImage(image)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            <ion-label>Remove</ion-label>
          </ion-button>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="wood">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="wood-second" (click)="loadImage()">
        <ion-icon name="attach"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="wood-second" (click)="takeImage()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>